.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 2rem;
 background-image: url('../assets/freepik__the-style-is-candid-image-photography-with-natural__8849.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-light);
}


.hero-text {
  max-width: 600px;
  color: var(--text-light);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: var(--text-light); /* Cor mais clara para contraste */
  font-weight: bold;
  text-transform: uppercase; /* Dá um toque mais "clean" e profissional */
}

.hero-text h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: var(--primary); /* Cor suave para subtítulo */
}

.hero-text p {
  font-size: 1.2rem;
  color: var(--text-muted);
  line-height: 1.6;
  max-width: 500px;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 1.5rem;
  font-style: italic;
  border-left: 4px solid var(--primary); /* Linha paralela ao texto */
}

.hero-text p span {
  display: block;
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--text-light);
  font-style: normal;
}

.hero-image img {
  width: 320px; /* Mantive o tamanho maior para impacto */
  height: 320px; /* Definindo uma altura fixa para garantir o formato quadrado */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
}

.hero-image img:hover {
  transform: scale(1.05); /* Menos zoom, mas ainda interativo */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais forte ao passar o mouse */
}

